{% extends "base.html" %}
    {% block content %}    
    <div class="container">
        <div class="page-header">
            <h2>Objetivo</h2>
        </div>
        <p>Nosso objetivo é aumentar a divulgação de competições universitárias de Dota 2 no Brasil e impulsionar a criação de mais competições nacionais, impulsionando o cenário competitivo brasileiro.</p>
        <div class="page-header">
            <h2>Missão</h2>
        </div>
        <p>Promover uma interface simples de divulgação e criação de campeonatos universitários no Brasil.</p>
        <div class="page-header">
            <h2>Equipe</h2>
        </div>
        <div style="display:table;width:400;height:120px;">
            <img src="http://cdn1.sbnation.com/images/verge/default-avatar.v9899025.gif" width="80px" height="80px" style="vertical-align:middle"/>
            <div style="display:table-cell;height:60px;padding-left:5px">
                <strong>Nome</strong> Gabriel Pires da Silva <br/>
                <strong>Função</strong> Jack of all trades
            </div>
        </div>
    </div> <!-- /container -->
    {% endblock %}