{% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="row">
            <!-- Cadastro -->
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cadastro</h3>
                    </div>
                    <div class="panel-body">
                        <p>Ainda não fez seu cadastro? Lembre-se de usar um e-mail válido, pois é através dele que informações de campeonatos e confirmações serão enviados!</p>
                        <form class="form-horizontal cadastro-form" name="CadastroForm" action="/cadastro/" method="post">
                            {% csrf_token %}
                            {% if next %}
                                <input type="hidden" name="next" value="{{ next }}" />
                            {% endif %}
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-sm-2 control-label" for="username">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="username"  placeholder="Username" />
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-sm-2 control-label" for="password">Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-sm-2 control-label" for="email">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" name="email" placeholder="usuario@exemplo.com.br">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /Cadastro -->
        </div>
    </div>
    {% endblock %}