{% extends "base.html" %}
    {% block content %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Liga Universitária</h1>
        <ul>
            <p>Aqui você encontrará informações sobre campeonatos de cada universidade, além de campeonatos regionais e nacionais.</p>
            <p>E caso esteja interessado em criar e filiar a sua universidade à Liga Universitária, oferecemos todo o suporte necessário!</p>
            <p>
          <a class="btn btn-lg btn-primary" href="#" target="#" role="button">Ver página no facebook &raquo;</a>
        </p>
        </ul>
      </div>
    </div> <!-- /container -->
    
    <!-- Informações de contexto, campeonatos, eventos, streams, etc -->
    <div class="container">
        <div class="row">
            <!-- Campeonatos -->
            <div class="col-sm-4">
                <h3>Campeonatos</h3>            
                <div class="list-group">
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">1ª Copa Nacional - Finais</h4>
                    <p class="list-group-item-text">
                        Acompanhe a grande final da primeira edição da Liga Universitária!
                    </p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">3ª Copa Minerva - Semi-finais A</h4>
                    <p class="list-group-item-text">
                        Acompanhe aqui a cobertura completa das semi-finais entre TEAM A e TEAM B!
                    </p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">3ª Copa Minerva - Semi-finais B</h4>
                    <p class="list-group-item-text">
                        Acompanhe aqui a cobertura completa das semi-finais entre TEAM C e TEAM D!
                    </p>
                    </a>
                </div>
            </div>
            <!-- /Campeonatos -->        
            <!-- Notícias -->
            <div class="col-sm-4">
                <h3>Notícias</h3>            
                <div class="list-group">
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Liga CEFET criada <small class="pull-right">20/02/2014</small></h4>
                    <p class="list-group-item-text">
                        A Liga CEFET acaba de se filiar à Liga Universitária! O responsável é o usuário <strong>"username"</strong>
                    </p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">LA procura administrador <small class="pull-right">18/02/2014</small></h4>
                    <p class="list-group-item-text">
                        A Liga do Acre está a procura de alguém para administrar sua liga, caso contrário terá que parar de existir. Entre em contato caso esteja interessado!
                    </p>
                    </a>
                    <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">1ª Edição da LU finalizada <small class="pull-right">15/02/2014</small></h4>
                    <p class="list-group-item-text">
                        A primeira edição da liga universitária foi um sucesso!
                    </p>
                    </a>
                </div>
            </div>
            <!-- /Notícias -->        
            <!-- Streams -->
            <div class="col-sm-4">
                <h3>Streams</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#" target="#">Dendimon</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Dest</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Bam bam</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Rotex</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Colão</a><span class="pull-right"><strong>OFF</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Co7</a><span class="pull-right"><strong>OFF</strong></span></li>
                </ul>
            </div>
            <!-- /Streams -->
        </div>
    </div><!-- end container -->
    <!-- /end Informações -->
    
    <!-- Próximas partidas -->
    <div class="container">
        <h3>Próximas partidas</h3>
        <ul class="list-group list-inline" style="height:50px;width:100%;padding-top:10px">
            <li class="list-group-item" style="width:20%;height:100%"><a href="#" target="#">DK vs IG</a><small style="float:right">LIVE</small></li>
            <li class="list-group-item" style="width:20%;height:100%"><a href="#" target="#">Speed vs Orange</a><small style="float:right">12 horas</small></li>
            <li class="list-group-item" style="width:20%;height:100%"><a href="#" target="#">Navi vs Alliance</a><small style="float:right">22 horas</small></li>
        </ul>
    </div>
    <!-- /Próximas partidas -->
    {% endblock %}