{% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="page-header" id="dota-campeonato-header">
            <h2 id="dota-campeonato-nome">{{ campeonato.nome }}</h2>
            {% if user.is_authenticated %}
                {% if inscricoes_abertas %}
                    <a href="inscricao/" type="button" class="btn btn-success" id="dota-campeonato-btn-inscricao">Inscrever time <span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="page-header">
            <h3>Descrição</h3>
        </div>
        <p>{{ campeonato.descricao }}</p>
        
        <div class="page-header">
            <h3>Resumo</h3>
        </div>
        <table class="table" style="width:50%">
            <tbody>
                <tr>
                    <th>Criador</th>
                    <td>{{ campeonato.criador }}</td>
                </tr>
                <tr>
                    <th>Universidade</th>
                    <td>{{ campeonato.universidade }}</td>
                </tr>
                <tr>
                    <th>Staff</th>
                    <td>
                        {% if criador %}
                        <a href="/campeonatos/{{ campeonato.id }}/adicionar-staff/">Adicionar</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Início inscrições</th>
                    <td>{{ campeonato.inicio_inscricoes|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <th>Término inscrições</th>
                    <td>{{ campeonato.fim_inscricoes|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <th>Início inscrições</th>
                    <td>{{ campeonato.inicio_partidas|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <th>Término partidas</th>
                    <td>{{ campeonato.fim_partidas|date:"d/m/Y" }}</td>
                </tr>  
                {% if campeonato.formato_to_string %}
                    <tr>
                        <th>Formato</th>
                        <td>{{ campeonato.formato_to_string }}</td>
                    </tr>
                {% endif %}
                {% if campeonato.campeao and campeonato.campeao.strip %}
                    <tr>
                        <th>Campeões</th>
                        <td>{{ campeonato.campeao }}</td>
                    </tr>
                {% endif %}
                {% if campeonato.vicecampeao and campeonato.vicecampeao.strip %}
                    <tr>
                        <th>Vice-campeões</th>
                        <td>{{ campeonato.vicecampeao }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
        <!-- Times inscritos -->
        <div class="page-header">
            <h3>Times inscritos ({{ inscricoes|length }}/{{ campeonato.vagas }})</h3>
        </div>
        {% if inscricoes %}
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list-group">
                        {% for inscricao in inscricoes %}
                            <li class="list-group-item"><a href="/times/{{inscricao.time.id}}">{{inscricao.time.nome}} ({{inscricao.time.sigla}})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <!-- Se inscrições tiverem abertas -->
            {% if inscricoes_abertas %}
                <p>Nenhum time inscrito ainda, inscreva seu time!</p>
            {% else %}
                <p>Nenhum time se inscreveu para este campeonato =(.</p>
            {% endif %}
        {% endif %}
        <!-- /Times inscritos -->
        
        <!-- Classificação (só faz sentido em round robin) -->
        <div class="page-header">
            <h3>Classificação</h3>
        </div>
        <small><i>Dados ainda não disponíveis</i></small>
        <!-- /Classificação -->
        
        <!-- Lista de partidas -->
        <br />
        <div class="page-header">
            <h3>Partidas</h3>
        </div>
        {% if criador %}
            <div class='d2u-nova-partida'>
                <a href="/campeonatos/{{ campeonato.id }}/cadastrar-partida/">Cadastrar partida</a>
            </div>
        {% endif %}
        {% if partidas %}
        <h4>Últimas partidas</h4>
            <div style="width:80%">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Match ID</th>
                        <th>Time 1</th>
                        <th>Time 2</th>
                        <th>Vencedor</th>
                        <th>Data da partida</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partida in partidas %}
                            {% if partida.vencedor %}
                            <tr>
                                <td><a href="/partidas/{{ partida.id }}">{{ partida.match_id }}</a></td>
                                <td>{{ partida.timeA.nome }}</td>
                                <td>{{ partida.timeB.nome }}</td>
                                <td>{{ partida.vencedor }}</td>
                                <td>{{ partida.data_realizacao }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <h4>Próximas partidas</h4>
            <div style="width:80%">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Time 1</th>
                        <th>Time 2</th>
                        <th>Data marcada</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partida in partidas %}
                            {% if not partida.vencedor %}
                            <tr>                                
                                <td>{{ partida.timeA.nome }}</td>
                                <td>{{ partida.timeB.nome }}</td>
                                <<td>{{ partida.data_agendada }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <small><i>Nenhuma partida cadastrada nesse campeonato ainda.</i></small>
        {% endif %}
        
        <!-- /Partidas -->
    </div>
    {% endblock %}