{% extends "base.html" %}
    {% block content %}
    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Liga Universitária</h1>
        <ul>
            <p>Aqui você encontrará informações sobre campeonatos de cada universidade, além de campeonatos regionais e nacionais.</p>
            <p>E caso esteja interessado em criar e filiar a sua universidade à Liga Universitária, oferecemos todo o suporte necessário!</p>
            <p>
                <a class="btn btn-lg btn-primary" href="#" target="#" role="button">Ver página no facebook &raquo;</a>
            </p>
        </ul>
      </div>
    </div> <!-- /container -->
    
    <!-- Informações de contexto, campeonatos, eventos, streams, etc -->
    <div class="container">
        <div class="row">
            <!-- Campeonatos -->
            <div class="col-sm-4">
                <h3>Campeonatos</h3>            
                <div class="list-group">
                    <a href="/campeonatos/andamento" class="list-group-item">
                        <p class="list-group-item-text">
                            <strong>16</strong> campeonatos em andamento
                        </p>
                    </a>
                    <a href="/campeonatos/inscricoes-abertas" class="list-group-item">
                        <p class="list-group-item-text">
                            <strong>2</strong> campeonatos com inscrições abertas
                        </p>
                    </a>
                    <a href="/campeonatos/futuros" class="list-group-item">
                        <p class="list-group-item-text">
                            <strong>14</strong> campeonatos que ainda irão abrir inscrições
                        </p>
                    </a>
                    <a href="/campeonatos/terminados" class="list-group-item">
                        <p class="list-group-item-text">
                            <strong>134</strong> campeonatos já realizados
                        </p>
                    </a>
                </div>
            </div>
            <!-- /Campeonatos -->   
            <!-- Próximas partidas -->
            <div class="col-sm-4">
                <h3>Próximas partidas</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">LIVE</small></h4>
                        <p class="list-group-item-text">
                            DK vs IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">2 horas</small></h4>
                        <p class="list-group-item-text">
                            DK vs IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">12 horas</small></h4>
                        <p class="list-group-item-text">
                            DK vs IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">22 horas</small></h4>
                        <p class="list-group-item-text">
                            DK vs IG
                        </p>
                    </a>
                </div>
            </div>
            <!-- /Próximas partidas -->
            <!-- Últimos resultados -->
            <div class="col-sm-4">
                <h3>Últimos resultados</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">há 12 horas</small></h4>
                        <p class="list-group-item-text">
                            DK 2-1 IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">20/02/2014</small></h4>
                        <p class="list-group-item-text">
                            DK 2-1 IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">18/02/2014</small></h4>
                        <p class="list-group-item-text">
                            DK 2-1 IG
                        </p>
                    </a>
                </div>
            </div>
            <!-- /Últimos resultados -->            
        </div>
    </div><!-- end container -->
    <!-- /end Informações -->
    
    <div class="container" style="padding-top:10px">
        <div class="row">
            <!-- Notícias -->
            <div class="col-sm-4">
                <h3>Notícias</h3>
                <div class="list-group">
                    {% for noticia in lista_noticias %}
                        <a href="/noticias/{{noticia.id}}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ noticia.titulo }} <small class="pull-right">{{ noticia.data_editado|date:"d/m/Y" }}</small></h4>
                            <p class="list-group-item-text">
                                {{ noticia.conteudo|truncatewords:"13" }}
                            </p>
                        </a>
                    {% endfor %}
                    <a href="/noticias" class="list-group-item">
                        <p class="list-group-item-text">
                            Ver mais notícias
                        </p>
                    </a>
                </div>
            </div>
            <!-- /Notícias -->        
            <!-- Streams -->
            <div class="col-sm-4">
                <h3>Streams</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#" target="#">Dendimon</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Dest</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Bam bam</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Rotex</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Colão</a><span class="pull-right"><strong>OFF</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Co7</a><span class="pull-right"><strong>OFF</strong></span></li>
                </ul>
            </div>
            <!-- /Streams -->
        </div>
    </div>
    {% endblock %}