{% extends "base.html" %}
    {% block content %}
    <!-- Carousel
    ================================================== -->
    <div class="container" id="dota-carrousel-container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active dota-carousel-indicator"></li>
            <li data-target="#myCarousel" data-slide-to="1" class="dota-carousel-indicator"></li>
            <li data-target="#myCarousel" data-slide-to="2" class="dota-carousel-indicator"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item dota-carousel-item active">
              <img src="{{ STATIC_URL }}images/lycan.png" style="height:342px;" />
              <div class="container">
                <div class="carousel-caption dota-carousel-text">
                  <h1>Liga Universitária</h1>
                  <h4>Aqui você encontrará informações sobre campeonatos de cada universidade, além de campeonatos regionais e nacionais!</h4>
                  <p><a class="btn btn-lg btn-primary" href="http://www.facebook.com/DotaUniversitario" target="new-window" role="button">Curta nossa página no facebook! &raquo;</a></p>
                </div>
              </div>
            </div>
            <div class="item dota-carousel-item">
              <img src="{{ STATIC_URL }}images/invoker.png" style="height:342px;" />
              <div class="container">
                <div class="carousel-caption dota-carousel-text">
                  <h1>Sua universidade ainda não tem uma liga?</h1>
                  <h4>Crie a liga da sua universidade e entre na Liga Universitária, podemos ajudar!</h4>
                  <p><a class="btn btn-lg btn-primary" href="/ligas/cadastrar/" role="button">Veja como</a></p>
                </div>
              </div>
            </div>
            <div class="item dota-carousel-item">
              <img src="{{ STATIC_URL }}images/tusk.png" style="height:342px;" />
              <div class="container">
                <div class="carousel-caption dota-carousel-text">
                  <h1>Terceira Copa Minerva</h1>
                  <h4>Atenção times da UFRJ, a terceira edição da Copa Minerva se aproxima! Já inscreveu seu time?</h4>
                  <p><a class="btn btn-lg btn-primary" href="/campeonatos/1" role="button">Ver campeonato</a></p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.carousel -->
    </div> <!-- /container -->
    
    <!-- Informações de contexto, campeonatos, eventos, streams, etc -->
    <div class="container">
        <div class="row">
            <!-- Campeonatos -->
            <div class="col-sm-4">
                <h3 class="dota-index-header">Campeonatos</h3>    
                <hr class="dota-index-header-barra" />                
                <div class="list-group">
                    <a href="/campeonatos/andamento" class="list-group-item">
                        <p class="list-group-item-text">
                            <strong>16</strong> campeonatos em andamento
                        </p>
                    </a>
                    <a href="/campeonatos/inscricoes-abertas" class="list-group-item">
                        <p class="list-group-item-text">
                            <strong>2</strong> campeonatos com inscrições abertas
                        </p>
                    </a>
                    <a href="/campeonatos/futuros" class="list-group-item">
                        <p class="list-group-item-text">
                            <strong>14</strong> campeonatos que ainda irão abrir inscrições
                        </p>
                    </a>
                    <a href="/campeonatos/terminados" class="list-group-item">
                        <p class="list-group-item-text">
                            <strong>134</strong> campeonatos já realizados
                        </p>
                    </a>
                </div>
            </div>
            <!-- /Campeonatos -->   
            <!-- Próximas partidas -->
            <div class="col-sm-4">
                <h3 class="dota-index-header">Próximas partidas</h3>
                <hr class="dota-index-header-barra" />
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">LIVE</small></h4>
                        <p class="list-group-item-text">
                            DK vs IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">2 horas</small></h4>
                        <p class="list-group-item-text">
                            DK vs IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">12 horas</small></h4>
                        <p class="list-group-item-text">
                            DK vs IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">22 horas</small></h4>
                        <p class="list-group-item-text">
                            DK vs IG
                        </p>
                    </a>
                </div>
            </div>
            <!-- /Próximas partidas -->
            <!-- Últimos resultados -->
            <div class="col-sm-4">
                <h3 class="dota-index-header">Últimos resultados</h3>
                <hr class="dota-index-header-barra" />
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">há 12 horas</small></h4>
                        <p class="list-group-item-text">
                            DK 2-1 IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">20/02/2014</small></h4>
                        <p class="list-group-item-text">
                            DK 2-1 IG
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading"><small class="pull-right">18/02/2014</small></h4>
                        <p class="list-group-item-text">
                            DK 2-1 IG
                        </p>
                    </a>
                </div>
            </div>
            <!-- /Últimos resultados -->            
        </div>
    </div><!-- end container -->
    <!-- /end Informações -->
    
    <div class="container" style="padding-top:10px">
        <div class="row">
            <!-- Notícias -->
            <div class="col-sm-4">
                <h3 class="dota-index-header">Notícias</h3>
                <hr class="dota-index-header-barra" />
                <div class="list-group">
                    {% for noticia in lista_noticias %}
                        <a href="/noticias/{{noticia.id}}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ noticia.titulo }} <small class="pull-right">{{ noticia.data_editado|date:"d/m/Y" }}</small></h4>
                            <p class="list-group-item-text">
                                {{ noticia.resumo }}
                            </p>
                        </a>
                    {% endfor %}
                    <a href="/noticias" class="list-group-item">
                        <p class="list-group-item-text">
                            Ver mais notícias
                        </p>
                    </a>
                </div>
            </div>
            <!-- /Notícias -->        
            <!-- Streams -->
            <div class="col-sm-4">
                <h3 class="dota-index-header">Streams</h3>
                <hr class="dota-index-header-barra" />
                <ul class="list-group">
                    <li class="list-group-item"><a href="#" target="#">Dendimon</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Dest</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Bam bam</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Rotex</a><span class="pull-right"><strong>ON</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Colão</a><span class="pull-right"><strong>OFF</strong></span></li>
                    <li class="list-group-item"><a href="#" target="#">Co7</a><span class="pull-right"><strong>OFF</strong></span></li>
                </ul>
            </div>
            <!-- /Streams -->
            <!-- Imagem -->
            <div class="col-sm-4">
                <img src="{{ STATIC_URL }}images/kotl.png" class="dota-index-img-footer" />
            </div>
            <!-- /Imagem -->
        </div>
    </div>
    
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
    {% endblock %}