{% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Ficha técnica</h2>
        </div>
        <table class="table" style="width:40%">
            <tbody>
                <tr>
                    <th>Data</th>
                    <td>Janeiro/Fevereiro de 2014</td>
                </tr>
                <tr>
                    <th>Universidade</th>
                    <td>UFRJ</td>
                </tr>
                <tr>
                    <th>Campeões</th>
                    <td>Fox Say What? (FOX)</td>
                </tr>
                <tr>
                    <th>Vice-campeões</th>
                    <td>Ez Ween (EW)</td>
                </tr>
            </tbody>
        </table>
        <div class="page-header">
            <h2>Organização</h2>
        </div>
        <p>A segunda edição da Copa Minerva foi organizada por Vitor Cossetti, Aloizio Macedo e Maria Gabriella Andrade. O torneio correu sem grandes problemas e a organização esteve sempre presente para resolver quaisquer pendências.</p>
        <div class="page-header">
            <h2>Narração</h2>
        </div>
        <p>Os casters oficiais da segunda edição da Copa Minerva foram <strong>Bam bam</strong> e <strong>XaKaW</strong>, e ambos proporcionaram narrações muito completas e de grande qualidade, agregando muito valor ao campeonato. Durante a copa, eles contaram com a colaboração de diversos jogadores como comentaristas.
        </p>
        <div class="page-header">
            <h2>Partidas</h2>
        </div>
        <div style="width:80%">
        <table class="table">
            <thead>
                <tr>
                <th>#Match ID</th>
                <th>Time 1</th>
                <th>Time 2</th>
                <th>Duração</th>
                <th width="10%">Download</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Time A</td>
                    <td>Time B</td>
                    <td>10:00</td>
                    <td style="text-align: center"><i class="glyphicon glyphicon-download"></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Time A</td>
                    <td>Time B</td>
                    <td>10:00</td>
                    <td style="text-align: center"><i class="glyphicon glyphicon-download"></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Time A</td>
                    <td>Time B</td>
                    <td>10:00</td>
                    <td style="text-align: center"><i class="glyphicon glyphicon-download"></i></td>
                </tr>
            </tbody>
        </table>
        
        <ul class="pagination" style="width:100%;margin-left:auto;margin-right:auto;display:block">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        </div>
    </div> <!-- /container -->
    {% endblock %}