{% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="page-header">
            <h2>{{ time.nome }}</h2>
        </div>
        
        <h3>Resumo</h3>
        <table class="table" style="width:40%">
            <tbody>
                <tr>
                    <th>Sigla</th>
                    <td>{{ time.sigla }}</td>
                </tr>
                <tr>
                    <th>Universidade</th>
                    <td>{{ time.universidade.nome }}</td>
                </tr>
            </tbody>
        </table>
        
        <br />        
        <h3>Integrantes</h3>
        <table class="table" style="width:40%">
            <thead>
                <tr>
                    <th>Nick</th>
                    <th>Papel</th>
                </tr>
            </thead>
            <tbody>
                {% for membro in membros %}                
                    <tr>
                        <td><a href="/usuarios/{{membro.user.user.username}}">{{membro.user.user.username}} </a>
                        {% if membro.capitao %}
                            (Capitão)
                        {% endif %}
                        </td>
                        <td>{{ membro.papel }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if capitao %}
            <a href="adicionar_membro/" type="button" class="btn btn-success">Adicionar jogador <span class="glyphicon glyphicon-ok"></span></a>
        {% else %}
            {% if integrante %}
                <a href="sair/" type="button" class="btn btn-danger">Sair do time <span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        {% endif %}
        
        <br />
        <h3>Estatísticas</h3>
        <table class="table" style="width:40%">
            <tbody>
                <tr>
                    <th>Partidas disputadas</th>
                    <td>120</td>
                </tr>
                <tr>
                    <th>Vitórias</th>
                    <td>87</td>
                </tr>
                <tr>
                    <th>Títulos</th>
                    <td>2</td>
                </tr>  
            </tbody>
        </table>
    </div> <!-- end content -->
    {% endblock %}