Django==1.4.3
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
dj-database-url==0.2.2
django-toolbelt==0.0.1
gunicorn==18.0
itsdangerous==0.23
pdfminer==20110515
psycopg2==2.4.6
static==1.0.2
virtualenv==1.11.4

-e git+https://github.com/wnh/dj-static.git@feature/django-1.4-compat#egg=dj-static