.login-form, .cadastro-form {
    margin-top: 20px;
}

.btn-login {
    padding-left: 0px;
}

.dota-index-header {
    margin-bottom: 2px;
}

.dota-index-header-barra {
    margin-top: 0px;
    margin-bottom: 15px;
    border-top: 2px solid #BE1212;
}

.dota-index-img-footer {
    width: 100%;
    margin-top: 40px;
}

.dota-carousel-text {
    color: #fff;
}

.dota-carousel-item {
    background-color: #ddd;
}

#myCarousel {
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}