.login-form, .cadastro-form {
    margin-top: 20px;
}

.btn-login {
    padding-left: 0px;
}

.dota-index-header {
    margin-bottom: 2px;
}

.dota-index-header-barra {
    margin-top: 0px;
    margin-bottom: 15px;
    border-top: 2px solid #BE1212;
}

.dota-index-img-footer {
    width: 100%;
    margin-top: 40px;
}

.dota-carousel-text {
    color: #fff;
}

.dota-carousel-item {
    background-color: #bbb;
}

#myCarousel {
    border: 1px solid #bbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.errorlist {
    padding-left: 0px;
    height: 34px;
    margin-bottom: 0px;
}

.errorlist li {
    color: red;
    font-size: 11px;
}

body > .container {
    background-color: white;
    border: 1px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dota-carrousel-container {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #bbb;
    border: 1px solid #bbb;
}

body {
    background-color: #eee;
}

#dota-campeonato-header {
    display: inline-block;
    width: 100%;
}

#dota-campeonato-btn-inscricao {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
}

#dota-campeonato-nome {
    float: left;
}

#id_texto-iframe {
    width: 749px;
    height: 482px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dota-match {
    width: 60%;
    border: 1px solid #222;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    margin-bottom: 20px;
    background-color: #eee;
}

.dota-match-header {
    background-color: #222;
    color: #fff;
    width: 100%;
    height: 40px;
    display: inline-flex;
}

.dota-match-team-a {
    padding-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.dota-match-versus {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: bold;
}

.dota-match-team-b {
    padding-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.dota-match-content, .dota-match-password {
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 10px;
}

.dota-match-password {
    height: 40px;
    padding-top: 10px;
}

#toast-container {
    top: 55px;
} 